.why-us {
  padding: 75px 0 70px;
  display: flex;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    line-height: 130%;
    color: var(--primary-dark);
    max-width: 450px;
    margin-bottom: 42px;
  }

  &__text {
    max-width: 530px;
    margin-bottom: 40px;
  }

  &__btn-tel {
    border-radius: 50%;
    width: 93px;
    height: 93px;
    background: #f4f0ec;
    border: none;
    outline: none;
    box-shadow: none;
    justify-content: center;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__btn-text {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    gap: 16px;
    padding: 18px 25px 17px 34px;
  }

  &__tel {
    color: var(--secondary-dark);
    text-decoration: none;
  }

  &__photo {
    border-radius: 0 326px 0 123px;
    width: 592px;
    height: 635px;
  }
}
